* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-height: 100%;
  margin: 0;
  background-color: rgb(15, 15, 15);
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.container {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
}
h1 {
  font-size: 30px;
  font-weight: 300;
}
.navbar {
  position: fixed;
  width: 100vw;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 15, 15);
  z-index: 500;
}
.navbar-brand {
  padding-left: 3vw;
  font-size: 23px;
  font-family: "Major Mono Display", monospace;
}
.navbar-nav {
  display: none;
}
.nav-link.active {
  color: grey;
}
.hide {
  display: none;
}
img {
  width: 200px;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
}
.button {
  width: 40vh;
  color: black;
  background-color: whitesmoke;
  border-radius: 5px;
}

.home-content {
  position: relative;
  top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Posts styling */
.post-feed {
  width: auto;
  margin: auto;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.post {
  width: 100%;
}
.post-image {
  width: 100%;
}
.description {
  margin-right: 0;
  font-weight: 400;
  font-size: 18px;
}
.post-date {
  font-size: 14px;
  font-weight: 300;
}
.likes-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.likes,
.dislikes {
  font-size: 20px;
  font-weight: 600;
}
.like-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.like-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dislike-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.like-button > img {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}
.dislike-button > img {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}
.big-post {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.big-post.display {
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* My pages styling*/
.my-pages {
  padding-top: 20px;
  position: relative;
  top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-info {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-pic {
  width: 200px;
  border-radius: 50%;
}
.bio {
  text-align: center;
  font-weight: 300;
}
.button {
  margin: 10px;
  padding: 13px;
  background-color: black;
  color: white;
  border: solid 1px white;
  font-size: 18px;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choose-file {
  text-align: center;
  border: solid 1px white;
}
.choose-file > input {
  display: none;
}
.preview-image > h4 {
  justify-self: flex-start;
}
.edit-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-post-button > img {
  width: 80px;
  margin: 0;
  padding: 0;
}
.update-buttons {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.edit-button {
  width: 80px;
  height: 80px;
  background: none;
  border: none;
}
.delete-button {
  width: 80px;
  height: 80px;
  background: none;
  border: none;
}
.edit-button > img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.delete-button > img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Update post form*/
.update-page {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  position: relative;
  top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.update-post {
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.update.post > img {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}
.edit-description {
  width: 90%;
}
.description-and-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
form {
  height: 100%;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group {
  width: 100%;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  margin: 5px;
}
input {
  width: 100%;
  border-radius: 5px;
  margin: 1vh 0;
  padding: 1vh;
}
textarea {
  width: 100%;
  border-radius: 5px;
  margin: 1vh 0;
  padding: 1vh;
}
/* Preview form input, styling*/
.wrapper {
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.output_image {
  max-width: 300px;
}
/* Desktop and big tablet*/
@media only screen and (min-width: 800px) {
  .navbar-nav {
    width: 35vw;
    padding-right: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
  }
  .mobile-menu {
    display: none;
  }
  .nav-icon1 {
    display: none;
  }
  .post-feed {
    width: 100vw;
    grid-gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .my-pages > .post-feed {
    width: auto;
    margin: auto;
  }
}

/* Mobile specific styling */

@media only screen and (max-width: 800px) {
  /* Burger-menu-animation */
  .mobile-menu {
    position: fixed;
    top: 56px;
    left: 100vw;
    width: 100vw;
    height: calc(100vh - 56px);
    background-color: rgb(15, 15, 15);
    color: white;
  }
  .mobile-menu.display {
    transform: translateX(-100%);
    transition: 0.5 ease-in-out;
  }
  .mobile-nav {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
  }
  .nav-icon1 {
    width: 40px;
    height: 30px;
    margin-right: 3vw;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-icon1:focus {
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }

  .nav-icon1 span {
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  .nav-icon1 span:nth-child(2) {
    top: 11px;
  }

  .nav-icon1 span:nth-child(3) {
    top: 22px;
  }
  .nav-icon1.open span {
    height: 4px;
    width: 100%;
  }

  .nav-icon1.open span:nth-child(1) {
    top: 13px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  .nav-icon1.open span:nth-child(3) {
    top: 13px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
