* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  margin: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
}
.navbar {
  width: 100vw;
  height: 56px;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
}
.nav-item {
  margin: 1vw;
}
img {
  width: 200px;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  color: black;
  background-color: whitesmoke;
  border-radius: 5px;
}
button > a {
  color: black;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Posts styling */
.post-feed {
  width: 98vw;
  margin: auto;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.post {
  width: 100%;
}
.post-image {
  width: 100%;
}
.likes-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.like-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* My pages styling*/
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-pic {
  width: 200px;
  border-radius: 50%;
}
.my-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-pages > .post-feed {
  width: 98vw;
  margin: auto;
}
.edit-button {
  width: 100%;
}

/* Preview form input, styling*/
.wrapper {
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.output_image {
  max-width: 300px;
}
/* Desktop and big tablet*/
@media only screen and (min-width: 800px) {
}
