* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  margin: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
.navbar {
  width: 100vw;
  height: 56px;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
}
.nav-item {
  margin: 1vw;
}

.post-feed {
  width: 98vw;
  margin: auto;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.post {
}
.post-image {
  width: 100%;
}
img {
  width: 200px;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  color: black;
}
/* Desktop and big tablet*/
@media only screen and (min-width: 800px) {
}
